load data

In [57]:
import pandas as pd
import re
import os
import sys
sys.path.append(os.path.abspath('../scripts'))
sys.path.append(os.path.abspath('../data'))

In [58]:
# Load your DataFrame
df = pd.read_csv(r'C:\Users\befekadum\Documents\10x acadamy\WEEK7\Ethiopian-medical-business-\src\messages_new1.csv')

In [59]:
from data_cleaner import DataCleaning

In [60]:
# Instantiate the class and clean the data
data_cleaner = DataCleaning(df)
df_cleaned = data_cleaner.remove_duplicates()
df_cleaned = data_cleaner.handle_missing_values()
df_cleaned = data_cleaner.standardize_timestamp()
df_cleaned = data_cleaner.validate_data()

c:\Users\befekadum\Documents\10x acadamy\WEEK7\Ethiopian-medical-business-\scripts\data_cleaner.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df['text'].fillna('No Text', inplace=True)
c:\Users\befekadum\Documents\10x acadamy\WEEK7\Ethiopian-medical-business-\scripts\data_cleaner.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.df['text'].fillna('No Text', inplace=True)
c:\Users\befekadum\Documents\10x acadamy\WEEK7\Ethiopian-medical-business-\scripts\data_cleaner.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df['image'].fillna('No Image', inplace=True)
c:\Users\befekadum\Documents\10x acadamy\WEEK7\Ethiopian-medical-business-\scripts\data_cleaner.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.df['image'].fillna('No Image', inplace=True)
c:\Users\befekadum\Documents\10x acadamy\WEEK7\Ethiopian-medical-business-\scripts\data_cleaner.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.df['timestamp'] = pd.to_datetime(self.df['timestamp'], errors='coerce')  # Coerce invalid formats to NaT

In [61]:
# Save the cleaned data to a new file
cleaned_file_path = r'C:\Users\befekadum\Documents\10x acadamy\WEEK7\Ethiopian-medical-business-\data\cleaned_data.csv'
data_cleaner.save_clean_data(cleaned_file_path)

print(f"Cleaned data saved to {cleaned_file_path}")

Cleaned data saved to C:\Users\befekadum\Documents\10x acadamy\WEEK7\Ethiopian-medical-business-\data\cleaned_data.csv

In [62]:
cleaned_data = pd.read_csv(r'C:\Users\befekadum\Documents\10x acadamy\WEEK7\Ethiopian-medical-business-\data\cleaned_data.csv')

In [63]:
cleaned_data

,id,sender,timestamp,text,image,document
0,12385,-1001666492664,2024-10-10 04:07:51,SARDINE \nPrice 800 birr each \nTelegram https...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
1,12384,-1001666492664,2024-10-10 04:07:51,UNSALTED MIXED NUTS \nPrice 3600 birr \nTelegr...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
2,12383,-1001666492664,2024-10-10 04:07:51,SALTED MIXED NUTS \nPrice 3600 birr \nTelegram...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
3,12382,-1001666492664,2024-10-10 04:07:51,UNSALTED CASHEWS\nPrice 3600 birr \nTelegram h...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
4,12381,-1001666492664,2024-10-10 04:07:50,QUAKER OATS \nPrice 5000 birr \nTelegram https...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
...,...,...,...,...,...,...
4257,773,-1001102021238,2022-02-25 17:46:07,No Text,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
4258,410,-1001102021238,2020-05-07 10:36:43,በኢትዮጵያ በአንድ ቀን ከፍተኛ የኮሮና ቫይረስ የተገኘባቸው ሰዎች ቁጥር ...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
4259,366,-1001102021238,2020-04-04 09:46:50,የኮሮናቫይረስ ከተከሰተ ጊዜ ጀምሮ ሳይንቲስቶች ለቫይረሱ ከትባት ወይም መ...,No Image,NaN
4260,356,-1001102021238,2020-03-29 08:14:52,ከኮሮና ቫይረስ ነፃ መሆንዋን ምን ያክል እርግጠኛኖት? ተከታታይ መሰረታዊ...,No Image,NaN
4261,201,-1001102021238,2019-11-29 10:07:54,ዶክተር ስዮም (ሰርጅን)\nፕሮግራማችንን እንዴት ነበር?\nMEBA ENTE...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN

sent data to database

In [65]:
from sent_to_db import  send_cleaned_data_to_db

In [67]:
send_cleaned_data_to_db(cleaned_data, 'cleaned_data_table')

Data successfully sent to the 'cleaned_data_table' table in the 'data_hub' database!