load data

In [33]:
import pandas as pd
import re
from sklearn.model_selection import train_test_split

# Load your DataFrame
df = pd.read_csv(r'C:\Users\befekadum\Documents\10x acadamy\WEEK7\Ethiopian-medical-business-\src\messages_new1.csv')

In [34]:
df

,id,sender,timestamp,text,image,document
0,12385,-1001666492664,2024-10-10 04:07:51,SARDINE \nPrice 800 birr each \nTelegram https...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
1,12384,-1001666492664,2024-10-10 04:07:51,UNSALTED MIXED NUTS \nPrice 3600 birr \nTelegr...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
2,12383,-1001666492664,2024-10-10 04:07:51,SALTED MIXED NUTS \nPrice 3600 birr \nTelegram...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
3,12382,-1001666492664,2024-10-10 04:07:51,UNSALTED CASHEWS\nPrice 3600 birr \nTelegram h...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
4,12381,-1001666492664,2024-10-10 04:07:50,QUAKER OATS \nPrice 5000 birr \nTelegram https...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
...,...,...,...,...,...,...
6376,7,-1001102021238,2019-04-21 17:37:45,ማይግሬንን እንዴት ልከላከል?\nማይግሬን የማይድን በሽታ ቢሆንም የሚከሰት...,NaN,NaN
6377,6,-1001102021238,2019-04-21 17:34:18,NaN,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
6378,5,-1001102021238,2019-04-21 06:44:30,Production crew!\nDoctorsEthiopia,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
6379,3,-1001102021238,2019-04-20 22:32:49,DoctorsEthiopia on LTV,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
6380,1,-1001102021238,2019-03-30 18:58:34,NaN,NaN,NaN

In [35]:
df.drop_duplicates()

,id,sender,timestamp,text,image,document
0,12385,-1001666492664,2024-10-10 04:07:51,SARDINE \nPrice 800 birr each \nTelegram https...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
1,12384,-1001666492664,2024-10-10 04:07:51,UNSALTED MIXED NUTS \nPrice 3600 birr \nTelegr...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
2,12383,-1001666492664,2024-10-10 04:07:51,SALTED MIXED NUTS \nPrice 3600 birr \nTelegram...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
3,12382,-1001666492664,2024-10-10 04:07:51,UNSALTED CASHEWS\nPrice 3600 birr \nTelegram h...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
4,12381,-1001666492664,2024-10-10 04:07:50,QUAKER OATS \nPrice 5000 birr \nTelegram https...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
...,...,...,...,...,...,...
6376,7,-1001102021238,2019-04-21 17:37:45,ማይግሬንን እንዴት ልከላከል?\nማይግሬን የማይድን በሽታ ቢሆንም የሚከሰት...,NaN,NaN
6377,6,-1001102021238,2019-04-21 17:34:18,NaN,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
6378,5,-1001102021238,2019-04-21 06:44:30,Production crew!\nDoctorsEthiopia,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
6379,3,-1001102021238,2019-04-20 22:32:49,DoctorsEthiopia on LTV,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
6380,1,-1001102021238,2019-03-30 18:58:34,NaN,NaN,NaN

In [36]:
nan_count = df.isnull().sum()
print(f"Number of NaN values : {nan_count}")

Number of NaN values : id              0
sender          0
timestamp       0
text         1183
image        1046
document     6381
dtype: int64

In [37]:
df

,id,sender,timestamp,text,image,document
0,12385,-1001666492664,2024-10-10 04:07:51,SARDINE \nPrice 800 birr each \nTelegram https...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
1,12384,-1001666492664,2024-10-10 04:07:51,UNSALTED MIXED NUTS \nPrice 3600 birr \nTelegr...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
2,12383,-1001666492664,2024-10-10 04:07:51,SALTED MIXED NUTS \nPrice 3600 birr \nTelegram...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
3,12382,-1001666492664,2024-10-10 04:07:51,UNSALTED CASHEWS\nPrice 3600 birr \nTelegram h...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
4,12381,-1001666492664,2024-10-10 04:07:50,QUAKER OATS \nPrice 5000 birr \nTelegram https...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
...,...,...,...,...,...,...
6376,7,-1001102021238,2019-04-21 17:37:45,ማይግሬንን እንዴት ልከላከል?\nማይግሬን የማይድን በሽታ ቢሆንም የሚከሰት...,NaN,NaN
6377,6,-1001102021238,2019-04-21 17:34:18,NaN,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
6378,5,-1001102021238,2019-04-21 06:44:30,Production crew!\nDoctorsEthiopia,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
6379,3,-1001102021238,2019-04-20 22:32:49,DoctorsEthiopia on LTV,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
6380,1,-1001102021238,2019-03-30 18:58:34,NaN,NaN,NaN

In [38]:
df.drop_duplicates(inplace=True)
df.fillna(method='ffill', inplace=True)

C:\Users\befekadum\AppData\Local\Temp\ipykernel_3184\3307900217.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)

In [39]:
df

,id,sender,timestamp,text,image,document
0,12385,-1001666492664,2024-10-10 04:07:51,SARDINE \nPrice 800 birr each \nTelegram https...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
1,12384,-1001666492664,2024-10-10 04:07:51,UNSALTED MIXED NUTS \nPrice 3600 birr \nTelegr...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
2,12383,-1001666492664,2024-10-10 04:07:51,SALTED MIXED NUTS \nPrice 3600 birr \nTelegram...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
3,12382,-1001666492664,2024-10-10 04:07:51,UNSALTED CASHEWS\nPrice 3600 birr \nTelegram h...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
4,12381,-1001666492664,2024-10-10 04:07:50,QUAKER OATS \nPrice 5000 birr \nTelegram https...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
...,...,...,...,...,...,...
6376,7,-1001102021238,2019-04-21 17:37:45,ማይግሬንን እንዴት ልከላከል?\nማይግሬን የማይድን በሽታ ቢሆንም የሚከሰት...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
6377,6,-1001102021238,2019-04-21 17:34:18,ማይግሬንን እንዴት ልከላከል?\nማይግሬን የማይድን በሽታ ቢሆንም የሚከሰት...,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
6378,5,-1001102021238,2019-04-21 06:44:30,Production crew!\nDoctorsEthiopia,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
6379,3,-1001102021238,2019-04-20 22:32:49,DoctorsEthiopia on LTV,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN
6380,1,-1001102021238,2019-03-30 18:58:34,DoctorsEthiopia on LTV,C:\Users\befekadum\Documents\10x acadamy\WEEK7...,NaN

In [40]:
df.isnull().sum()

id              0
sender          0
timestamp       0
text            0
image           0
document     6381
dtype: int64