In [1]:
import pandas as pd
import re
import os
import sys
import torch
sys.path.append(os.path.abspath('../scripts'))
sys.path.append(os.path.abspath('../data'))

In [2]:
from YOLO import run_yolo_detection

In [ ]:
# Load the YOLO model
model = torch.hub.load('ultralytics/yolov5', 'yolov5s', pretrained=True)

In [4]:
# Main logic
if __name__ == "__main__":
    input_image_dir = r'C:\\Users\\befekadum\\Documents\\10x acadamy\\WEEK7\\Ethiopian-medical-business-\\data\\images'
    output_image_dir = r'C:\\Users\\befekadum\\Documents\\10x acadamy\\WEEK7\\Ethiopian-medical-business-\\data\\detections'

In [ ]:
# Run YOLO detection, save annotated images, and get detection results
detection_results = run_yolo_detection(input_image_dir, output_image_dir, conf_threshold=0.4)

In [13]:
detection_results

,xmin,ymin,xmax,ymax,confidence,class,name,image_name
0,2.490273,279.675110,217.003998,850.147522,0.920289,0,person,photo_2019-04-20_22-32-49.jpg
1,813.300659,253.700500,988.502686,850.569519,0.881012,0,person,photo_2019-04-20_22-32-49.jpg
2,967.986328,248.906250,1137.152588,853.000000,0.874293,0,person,photo_2019-04-20_22-32-49.jpg
3,1144.794800,232.615204,1279.206177,847.157471,0.864690,0,person,photo_2019-04-20_22-32-49.jpg
4,651.845520,231.864838,855.443542,845.337769,0.856220,0,person,photo_2019-04-20_22-32-49.jpg
...,...,...,...,...,...,...,...,...
10476,432.249817,421.728455,764.423035,903.556335,0.892511,0,person,photo_2024-10-10_04-07-50 (5).jpg
10477,627.069946,268.439575,945.952393,1198.739502,0.442317,39,bottle,photo_2024-10-10_04-07-50 (6).jpg
10478,254.181473,912.326172,782.529419,1020.054077,0.575717,73,book,photo_2024-10-10_04-07-50 (9).jpg
10479,253.954742,577.395752,773.615417,992.039490,0.402802,45,bowl,photo_2024-10-10_04-07-50.jpg
10480,1.666931,73.260101,131.475937,631.686890,0.731734,0,person,photo_2024-10-10_10-53-06.jpg

In [7]:
from Db_conn import connect_to_db,create_detection_table

In [8]:
from save_image_data_to_db import insert_detection_data

In [9]:
# Connect to the database
conn = connect_to_db()

# Create the YOLO detection table
if conn:
    create_detection_table(conn)
else:
    print("Failed to connect to the database.")
if not detection_results.empty:
    insert_detection_data(conn, detection_results)
else:
    print("No detections found.")

# Close the database connection
conn.close()

Table 'yolo_detections' created successfully.
Detections inserted into the database.

![alt text](image.png)